.yt-uix-sessionlink {
    display: none;
}
body {
    margin: 0;
    font-family: "Arial", Times, serif;
    line-height: 1.7;
}

a {
    text-decoration: unset;
}

// Atomic CSS
.btn-aff {
    border-radius: 3px;
    padding: 7px 17px;
    font-size: 17px;
    border: 1px solid #d6d3d3;
    cursor: pointer;

    &.success {
        color: #fff;
        background: #4775d2;
    }
}

//General 
.middle-content {
    display: inline-flex;
    align-items: center;
} 

.body {
    width: 80%;
    margin: auto;
    margin-top: 125px;

    .home {
        .introduce {
            margin-top: 20px;
            display: inline-block;
            width: 100%;

            .item {
                float: left;    
                width: 345px;
                margin-right: 48px;

                &.last {
                    margin-right: 0;
                }

                .title {
                    img {
                        vertical-align: middle;
                        margin-right: 7px;
                    }
                }

                .content {
                    margin-top: 15px;
                    line-height: 1.7;
                }
            }
        }

        .special {
            width: 950px;
            margin: 50px auto;
            border: 1px solid #d9d9d9;
            padding: 20px;
            position: relative;
            border-radius: 3px;
            text-align: center;
            
            .title {
                background: #fff;
                position: absolute;
                top: -15px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                padding: 0 20px;
            }
        }

        .course {
            .content {
                img {
                    width: 400px;
                    float: left;
                }

                .detail {
                    float: left;
                    width: 740px;
                    padding: 0 20px;
                    box-sizing: border-box;

                    p {
                        margin: 0;
                    }

                    .btn-buying {
                        background: #42525f;
                        color: #fff;
                        border: 1px solid #d9d9d9;
                        padding: 15px 20px;
                        width: 100%;
                        margin-top: 30px;
                    }
                }
            }
        }
    }

    .form {
        margin: 0 auto;
        width: 300px;

        input {
            width: 100%;
            height: 40px;
            border-radius: 3px;
            margin-top: 20px;
            border: 1px solid #d9d9d9;
            padding: 0 15px;
            box-sizing: border-box;
        }

        button {
            margin: 30px 0;
        }
    }
}